@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

footer {
  margin-top: 0.5rem;
  border-top: 1px darkgreen dashed;
  background-color: transparent;
  background-image:
    linear-gradient(
      to bottom, 
      #00800040 2%, 
      #00808040 5%, 
      transparent 20%
    );
}

.footerbar {
  padding: 0.5rem 1rem 0rem 1rem;
}

.when {
  font-family: monospace;
  font-weight: normal;
}

.loading {
  color: var(--todo-loading-color);
}
ul.loading {
  list-style-type: none;
}
ul.loading li::before {
  content: "⚠";
  display: inline-block;
  position: relative;
}
ul.loading li {
  margin-left: -1.2rem;
}
ul.loading li {
  font-weight: bold;
}
ul.loading li .when {
  display: none;
}

.recent {
  color: var(--todo-recent-color);
}
ul.recent {
  list-style-type: circle;
}
ul.recent li {
  font-weight: bold;
}

.planned {
  color: var(--todo-planned-color);
}
ul.planned {
  list-style-type: square;
}
ul.planned li {
  font-weight: normal;
  font-style: italic;
}

.done {
  color: var(--todo-done-color);
}
ul.done {
  list-style-type: disc;
}
ul.done li {
  font-weight: bold;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.isWide {
  display: none;
}
.isNarrow {
  display: none;
}

@media (max-width: 1023px) {
  .isNarrow {
    display: block;
  }
}

@media (min-width: 1024px) {
  .isWide {
    display: block;
  }
}
